<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
        ratione sit dolorum eveniet, vero harum debitis unde possimus, voluptas
        amet perferendis tempore esse quibusdam id est praesentium. Explicabo,
        velit est.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
        ratione sit dolorum eveniet, vero harum debitis unde possimus, voluptas
        amet perferendis tempore esse quibusdam id est praesentium. Explicabo,
        velit est.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
        ratione sit dolorum eveniet, vero harum debitis unde possimus, voluptas
        amet perferendis tempore esse quibusdam id est praesentium. Explicabo,
        velit est.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
